/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #005747;
    padding: 10px 20px;
}

.navbar-logo {
    width: 12rem;
}

.navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin-left: 20px;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.navbar-links a:hover {
    text-decoration: underline;
}

/* Toggle button (for mobile view) */
.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navbar-toggle span {
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin: 4px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navbar-links.active {
        display: flex;
        position: absolute;
        top: 50px;
        left: 0;
        background-color: #9EC7C4;
    }

    .navbar-toggle {
        display: flex;
    }
}

/* Main styles */

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.top-icon {
    margin-bottom: 20px;
}

.top-icon img {
    width: 50px;
    height: 50px;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    background-color: #9EC7C4;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 20px;
}

.search-bar input {
    flex-grow: 1;
    border: none;
    padding: 0 10px;
    border-radius: 25px;
    outline: none;
    background-color: transparent;
}

.search-bar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.expenses-list {
    width: 100%;
    max-width: 400px;
}

.expense-card {
    display: flex;
    align-items: center;
    background-color: #f8f0ff;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.expense-avatar {
    width: 40px;
    height: 40px;
    background-color: #7a51a1;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.expense-info {
    flex-grow: 1;
}

.expense-info h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}

.expense-info p {
    font-size: 14px;
    color: #666;
}

.expense-image img {
    width: 40px;
    height: 40px;
}

/* Footer styles */
.footer {
    background-color: #005747;
    color: #fff;
    padding: 20px 0;
    font-family: 'Montserrat', sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-section {
    flex-basis: 30%;
    margin-bottom: 20px;
}

.footer-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.footer-section p,
.footer-section ul,
.footer-section li {
    font-size: 16px;
    line-height: 1.6;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #9EC7C4;
    font-size: 14px;
    font-weight: 400;
}

.footer-bottom p {
    margin: 0;
}

@media (max-width: 768px) {
    .footer-section {
        flex-basis: 100%;
        text-align: center;
    }
}